@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css');


html{
    font-size: 70.5%;
}

body{
    color: #333;
    font-size: 1.6rem;
    background-image: url("/delivery_service_app/todoapp/public/images/eimi24.jpg"); 
    
    background-size: cover;
    padding-top: 20.17%;
    background-repeat: no-repeat;
    background-color: pink;
}

@media only screen and (max-width: 290px){
    body{
        background-size: 200%;
    }
}

.navbar {
  margin: 2rem 0 2.5rem 0;
}

.my-navbar {
  align-items: center;
  background: transparent;
  display: flex;
  height: 6rem;
  justify-content: space-between;
  padding: 0 2%;
  margin-bottom: 3rem;
}

.my-navbar-brand {
  font-size: 18px;
}

.my-navbar-brand,
.my-navbar-item {
  color: #8c8c8c;
}

.my-navbar-brand:hover,
a.my-navbar-item:hover {
  color: #ffffff;
}

.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(4) {
  white-space: nowrap;
  width: 1px;
}

.form-control[disabled],
.form-control[readonly] {
  background-color: #fff;

}

.panel{
    opacity: 0.5;
}